/.idea/
/__pycache__/
/log/
/Key/
/docs/weather_memo.txt
/icon_image/out/detail_weather.png
/icon_image/out/sample.png
/icon_image/out/temperature_icon.png
/icon_image/out/weather_forecast_map.png
/TemplateMessage/events_list_format.json
