/log/project.log
/Key/token.json
/Key/credentials.json
/icon_image/weather/weather_memo.txt
/icon_image/out/detail_weather.png
/icon_image/out/sample.png
/icon_image/out/temperature_icon.png
/icon_image/out/weather_forecast_map.png
/Key/local.env
/Key/flask_local.env
